.app-footer{
    background-color:#16642C;
    width: 1220px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1220px) { 
    .app-footer{
        width:100%;
    }
}